<!DOCTYPE html>
<html>
<head>
  <title>UnicornDeployer</title>
  <%= stylesheet_link_tag    "unicorn_deployer/application", media: "all" %>
  <%= javascript_include_tag "unicorn_deployer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
